body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: bisque;
  background-color: white;
  color: black;
  margin: 1px;
  padding: 4px;
  font-size: larger;
}

button {
  color: blueviolet;
  ;
}

